* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(../images/bg-intro-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}